{% extends "mainApp/includes/main.html" %}

{% block content %}
<body>
  <img scr="https://www.google.com/url?sa=t&source=web&rct=j&url=/imgres%3Fimgurl%3Dhttps://dastarkhan24.kz/upload/iblock/c5b/c5b0c4cf987060a01d57f4010a2f5685.jpg%26imgrefurl%3Dhttps://dastarkhan24.kz/product/khleb_aksay_nan_formovoy_sotsialnyy_550g_m_u/%26h%3D965%26w%3D965%26tbnid%3DbuyH15IGYi8YEM%26tbnh%3D225%26tbnw%3D225%26usg%3DK_z32kYuBIVfZpkxQrLihZL_xAqnI%3D%26docid%3DvgrwnhmaC2tdZM&ved=2ahUKEwjom-qlvYXmAhVk2aYKHUKKCDcQ8g0wAHoECAMQBA&usg=AOvVaw10FwPpFU_LUizmT2ol0bxB">
</body>
{% endblock %}
