{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- Styles -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body{
      background: url('http://imagesait.ru/photos/aHR0cDovLzM2NXBzZC5ydS9pbWFnZXMvYmFja2dyb3VuZHMvYmctZGFyay00Nzg0LmpwZw==/chrnye-fony.jpg)');
    }
    .headerr{
      background: url('https://st2.depositphotos.com/1013886/10127/i/950/depositphotos_101275930-stock-photo-healthy-fruits-background.jpg');

    }
    h1, h2{
      color: white;
    }
  </style>
</head>
<body>
  <section class="headerr">
      <section class="top-bar-section">
      <ul class="rigth">
        {% if user.is_authenticated %}
          <li>&nbsp;&nbsp;<a href="{% url 'logout' %}" class="btn btn-dark btn-lg" >Logout {{ user.get_username }}</a></li>
        {% else %}
          <li>&nbsp;&nbsp;<a href="{% url 'login' %}" class="btn btn-primary btn-lg" >login</a></li>
        {% endif %}
      </ul>
     </section>
    <div class="container" >
      <p>
        <a href="/" class="btn btn-success btn-lg" > Main Page</a>
        <a href="/news" class="btn btn-warning btn-lg">Salles &raquo;</a>
        <a href="/contact" class="btn btn-info btn-lg">Contact </a>
      </p>
      <p>   &nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>
   </div>
 </section>
  <section id="header">
    <div class="top container">
    </div>
    <div class="top-bl">
      <div class="container">
        <div class="cart">
          {% with total_items=cart|length %}
            {% if cart|length > 0 %}
              Your basket:
--               <a href="{% url 'cart:CartDetail' %}">
                {{ total_items }} goods {{ cart.get_total_price }} tg.
              </a>
            {% else %}
             The cart is empty
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </section>
  <section id="content row" class="container">
    {% block content %}{% endblock %}
  </section>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
